/* About page CSS styles */

#img_wrap{
    float:          left;
    margin-right:   20px;
    margin-bottom:  20px;;
}

#img_wrap #caption{
    margin:     0px;
    text-align: right;
}

/*
#img_wrap img{
    border: solid 1px black;
}
*/
