/* Base CSS styles 
*/

#content {
    /* 60px to make the container go all the way to the 
     * bottom of the topbar */
    padding-top: 40px;
    max-width: 940px;
}

#navbar {
    font-family: "Orbitron", sans-serif;
    box-shadow: 0 1px 10px #888;
}

#navbar .navbar-inner {
	background-image: none;
}

#navbar .brand{
	font-size: 2.5em;
	padding-left: 18px;
}

#navbar .container {
	max-width: 940px;
}

#navbar .container .nav {
	margin-right: 0px;
}

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.footer .footer-inner {
	max-width: 940px;
}