/* Base CSS styles for RobMD.net 
 *
 * Color scheme based on main photo: 
 * http://colorschemedesigner.com/#3D21T7tE0w0w0
 */

#body_wrapper{
    width:          960px;
    margin:         25px auto;

    /* Main text styles */
    color:          #4B4742;
    font-size:      14px;
    font-family:    "lucida grande", lucida, tahoma, helvetica, arial, sans-serif;
}

/* Links */
a, a:visited{
    font-weight:        bold;
    color:              #31527D;
    text-decoration:    none;
}
a:hover{
    color: #97A9C0;
}

/* Header */
#header{
    display:        table;
    width:          100%;
    border-bottom:  solid 1px #777;
    margin-bottom:  20px;
}
#header h1{
    display:    table-cell;
    font-size:  2.5em;
}

/* Menu */
#menu{
    display:    table-cell;
    font-size:  1.2em;
    text-align: right;
}
#menu a, #menu span{
    margin-left:    20px;
}
#menu .disabled{
    font-weight:    bold;
    border-top:     solid 1px #777;
    padding-top:    5px;
}

#header #title a{
    color:      #4B4742;
}

/* Content */
#content{
    margin:     0px 0px;
}

/* Footer */
#footer{
    display:        table;
    width:          100%;
    border-top:     solid 1px #777;
    margin-top:     20px;
    padding-top:    5px;
}
#footer #about_site{
    display:        table-cell;
    text-align:     left;
}
#footer #copyright{
    display:        table-cell;
    text-align:     right;
}

/* Misc */
.small_text{
    font-size:  0.8em;
}

.light_text{
    color:      #777;
}

.caption{
    text-align: right;
    margin:     0px;
}
