/* Blog-specific CSS styles
 */

/* Blog menu */
#blog-wrap{
    display: table;
}


#blog-wrap #blog-content, #blog-wrap #blog-menu{
    display: table-cell;
}

#blog-wrap #blog-content{
    /* for use with sidebar 
     * padding-right: 20px; */
}

#blog-wrap #blog-menu{
    padding-left: 20px;
    border-left: solid #CCC 1px;
    width: 200px;
}

/* Blog list */
.blog-item{
    margin-bottom: 40px;
    border-bottom: solid #CCC 1px;
}

.blog-item .title{
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 0px;
}

.blog-item .subtitle{
    font-size: 0.9em;
    color: #888;
}

.blog-item.last{
    border:         none;
    margin-bottom:  -10px;
}

.blog-item .content{
    /* margin-left: 20px; */
}

.blog-item h1{
    margin-top: 20px;
    font-size: 1.25em;
}

.blog-item .title-image{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
