/* Blog-specific CSS styles
 */

#blog-wrap{
    display: table;
    width: 100%;
}

#blog-wrap #article-header{
    margin-bottom: 20px;
}

#blog-wrap #article-footer{
}

#blog-wrap #blog-content{
    display: table-cell;
    padding-right: 20px;
}

.blog-item{
    margin-bottom: 40px;
}

.blog-item.last{
    margin-bottom: 20px;
}

.blog-item .title-bar{
    /* border-bottom: 1px solid #ccc; */
}

.blog-item .title{
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 0px;
}

.blog-item .subtitle{
    font-size: 0.9em;
    color: #888;
}

.blog-item .content{
    /* margin-left: 20px; */
}

.blog-item .content h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.9em;
}

.blog-item .title-image{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #CCC;
}

.blog-item .article-image{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Disqus stuffs */
#disqus_thread{
    margin-bottom: 0px;
    margin-top: 40px;
}
#dsq-footer{
    margin: 0px;
}

/* article list */
#blog-wrap #blog-list .blog-item td.title-img{
    vertical-align: top;
    padding-right: 20px;
    width: 100px;
}
#blog-wrap #blog-list .blog-item td.text{
    vertical-align: top;
}
#blog-wrap #blog-list .blog-item h1.title{
    font-size: 1.5em;
}

#blog-wrap #blog-list .blog-item table{
    margin: 0px;
    border-spacing: 0px;
}

/* Blog sidebar */
#blog-wrap #sidebar{
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
    border-left: solid #CCC 1px;
    width: 200px;
}
#blog-wrap #sidebar .show-all{
    margin-bottom: 20px;
}
#blog-wrap #sidebar .tags{
    margin-bottom: 20px;
}
#blog-wrap #sidebar ul{
    padding-left: 20px;
    margin-top: 10px;
}
#blog-wrap #sidebar li{
    margin-bottom: 10px;
    list-style: none;
    line-height: 1.25;
}
