/* Blog-specific CSS styles
 */

#blog-wrap{
    display: table;
}

#blog-wrap #blog-content{
    display: table-cell;
    padding-right: 20px;
}

.blog-item{
    margin-bottom: 40px;
}

.blog-item.last{
    margin-bottom: 20px;
}

.blog-item .title-bar{
    border-bottom: 1px solid #ccc;
}

.blog-item .title{
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 0px;
}

.blog-item .subtitle{
    font-size: 0.9em;
    color: #888;
}

.blog-item .content{
    /* margin-left: 20px; */
}

.blog-item .content h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.9em;
}

.blog-item .title-image{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-item .article-image{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Blog sidebar */
#blog-wrap #sidebar{
    display: table-cell;
    padding-left: 20px;
    border-left: solid #CCC 1px;
    width: 200px;
}
