#blog-base{padding-top:40px;}#blog-base .img-polaroid{box-shadow:3px 4px 6px 1px #AAA;}
#blog-base #filter-list li{margin-bottom:5px;}
#blog-list .blog-thumb img{margin-left:auto;margin-right:auto;display:block;}
#blog-list .blog-post{margin-bottom:40px;}#blog-list .blog-post .summary .title a:hover{text-decoration:none;}
#blog-list .blog-post .summary .title h3{margin-top:0px;padding-top:0px;line-height:20px;}
#blog-list .blog-post .summary .subtitle{font-size:0.9em;margin-bottom:5px;}
#blog-article #title-bar{margin-bottom:20px;}#blog-article #title-bar #blog-back{font-size:1.25em;margin-top:0;line-height:0;margin-bottom:20px;}
#blog-article #title-img{margin-left:auto;margin-right:auto;display:block;}
#blog-article #article-body{margin-top:40px;}#blog-article #article-body h1{margin-top:40px;border-bottom:1px solid lightgrey;}
#blog-article #article-body h2{margin-top:20px;font-size:1.25em;}
#blog-article #article-body h3{font-size:1em;}
#blog-article #article-body .article-image{margin-top:10px;margin-bottom:20px;margin-left:auto;margin-right:auto;display:block;}
#blog-article #article-footer{margin-top:40px;}
