#home #hero-wrap{background-image:url('/img/death-valley-1170.jpg');height:475px;}#home #hero-wrap .hero-unit{color:lightgrey;background-color:rgba(0, 0, 0, 0.7);padding:20px 60px;margin-top:106px;margin-right:58px;}#home #hero-wrap .hero-unit h1,#home #hero-wrap .hero-unit strong{color:whitesmoke;}
#home #hero-wrap .hero-unit a:hover{color:#08C;}
