#resume h2,#resume h3,#resume h4,#resume h5{margin-top:0px;-webkit-margin-before:0px;line-height:25px;}
#resume .hero-unit{-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
#resume .project{margin-bottom:20px;}
