/* CSS styles for RobMD.net */

body{
    margin: 0px;
}

#body_wrapper{
    background:     white;;
    width:          500px;
    margin:         20px auto;

    color:          #4B4742;
    font-size:      12px;
    font-family:    "lucida grande", lucida, tahoma, helvetica, arial, sans-serif;

    border-radius:  5px;
    box-shadow:     0 0 50px #000000;
}

a{
    font-weight:        bold;
    color:              #728E1C;
    text-decoration:    none;
}
a:hover{
    text-decoration:    underline;
}
a:visited{
    color:              #728E1C;
    text-decoration:    none;
}

#header{
    background:     #D9ED9D;
    border-radius:  5px 5px 0px 0px;
    border-bottom:  solid 1px #B9DA55;
    display:        table;
    width:          100%;

    padding:    10px 20px 5px;

}
#header h1{
    margin:     0px;
    display:    table-cell;
}
#menu{
    font-size:  1.2em;
    display:    table-cell;
    text-align: right;
    margin:     auto;
}
#header #title a{
    color:      #4B4742;
}

#content{
    padding:    10px 20px;
    margin:     10px 0px;
}

#footer{
    font-size:      .9em;
    background:     #D9ED9D;
    padding:        10px 20px;
    text-align:     right;
    border-top:     solid 1px #B9DA55;
    border-radius:  0px 0px 5px 5px;
}

#background{
    left:       0px;
    top:        0px;
    height:     100%;
    width:      100%;
    position:   absolute;
    z-index:    -1;
    color:      lightgrey;
    overflow:   hidden;
}

.background_code_line{
    position: relative;
}

/* blog */
.blog_entry_table{
    border:     solid 1px green;
    width:      100%;
}
.blog_entry_thumb_cell{
   vertical-align:  top;
   padding:         0px;
   margin-right:    5px;
}
.blog_entry_thumb{
    border:     solid 1px red;
    width:      150px;
}
.blog_entry_text_cell{
    border:         solid 1px blue;
    align:          left;
    padding:        0px;
    margin-right:   5px;
}

