/* Base LESS CSS styles
*/

@bodypad: 0px;

@light_brown: #798390;

#navbar {
    margin-bottom: 0px;
    box-shadow: none;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 255)), to(rgba(255, 255, 255, 250)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
}

#content {
    padding-top: @bodypad;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    opacity: 0.9;
    margin-bottom: 0px;

    font-family: "Orbitron", sans-serif;

    .navbar-inner {
        background-image: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        .brand{
            font-size: 2.5em;
            padding-left: 18px;
        }

        .container {
            .nav {
                margin-right: 0px;
            }
        }
    }
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
