/*
    Base LESS CSS styles

    Bootstrap media queries are as follows:

        Large desktop:

            @media (min-width: 1200px) {
            }

        Default (no media query):

            980-1199px

        Portrait tablet to landscape and desktop:

            @media (min-width: 768px) and (max-width: 979px) {
            }

        Landscape phone to portrait tablet

            @media (max-width: 767px) {
            }

        Landscape phones and down

            @media (max-width: 480px) {
            }
*/

@darkgrey: #777;

.photo-cap {
    font-size: 0.75em;
}

#content {
    /* Add a padding to push below the sticky navbar */
    @media (min-width: 980px) {
        padding-top: 40px;
    }

    font-family: 'Open Sans', sans-serif;
}

#navbar {
    @media (min-width: 1200px) {
        border-top: solid 1px red;
    }

    margin-bottom: 0px;
    box-shadow: none;

    font-family: "Orbitron", sans-serif;

    .navbar-inner {
        background-image: none;
        background-color: whitesmoke;
        border-bottom: 1px solid @darkgrey;

        padding: 0;

        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        text-shadow: none;

        .brand {
            font-size: 2.5em;
            padding-left: 18px;

            color: #444;

             @media (max-width: 518px) {
                float: none;
                text-align: center;
            }
        }

        .active * {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;

            background-color: white;
            border-left: 1px solid @darkgrey;
            border-right: 1px solid @darkgrey;
            font-weight: bold;
        }

        .nav {
            @media (max-width: 518px) {
                float: none;
            }
        }
    }
}

footer {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid @darkgrey;
    background-color: whitesmoke;

    /* Expand footer background color if below 767px */
    @media (max-width: 767px){
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
