/* Base LESS CSS styles
*/

/* Bootstrap media queries
   =======================
*/

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}


#content {

    /* Add a padding to push below the sticky navbar */
    @media (min-width: 980px) {
        padding-top: 40px;
    }

    font-family: 'Open Sans', sans-serif;
}

#navbar {
    @media (min-width: 1200px) {
        border-top: solid 1px red;
    }


    /* opacity: 0.8; */
    margin-bottom: 0px;
    box-shadow: none;

    font-family: "Orbitron", sans-serif;

    .navbar-inner {
        /* background-color: transparent; */
        background-image: none;

        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        .brand{
            font-size: 2.5em;
            padding-left: 18px;
        }

        .container {
            .nav {
                margin-right: 0px;
            }
        }
    }
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
