/* Blog-specific CSS styles
 */

@import "base.less";

#blog{
    display: table;
    width: 100%;
    
    #content{
        display: table-cell;
        padding-right: @grid_gutter;

        /* shared classes */
        .shadow-border{
            border: 1px solid #CCC;
            box-shadow: 3px 4px 6px 1px #aaa; 
            -moz-box-shadow: 3px 4px 6px 1px #aaa;
            -webkit-box-shadow: 3px 4px 6px 1px #aaa;
        }

                
        /* article list */
        #list{
            .article{
                margin-bottom: @grid_gutter * 2;

                &.last{
                    margin-bottom: 0px;
                }

                table{
                    margin: 0px;
                    border-spacing: 0px;

                    .title-img-wrap{
                        vertical-align: top;
                        padding-right: @grid_gutter;
                        .title-img{
                            .shadow-border;
                        }
                    }
                }

                .text{
                    @margin: 3px;

                    vertical-align: top;

                    .title-bar{
                        margin-bottom: @margin;

                        .title{
                            font-size: 1.5em;
                            margin-bottom: @margin;
                        }

                        .subtitle{
                            font-size: 0.9em;
                            color: #888;
                        }
                        
                    }
                }
            }
        }
       
        /* single article */
        #article{
            #article-header{
                margin-bottom: @grid_gutter;
            }

            #title-bar{
                margin-bottom: @grid_gutter / 2;

                #title{
                    font-size: 2em;
                    margin-bottom: 5px;
                    margin-top: 0px;
                }

                #subtitle{
                    font-size: 0.9em;
                    color: #888;
                }
            }

            #title-img-wrap{
                margin-bottom: @grid_gutter * 2;

                #title-img{
                    .shadow-border;
                }
            }

            .article-image{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }


            /* Disqus stuffs */
            #disqus_thread{
                margin-bottom: 0px;
                margin-top: 40px;
            }

            #dsq-footer{
                margin: 0px;
            }

            #article-footer{
            }
        }
    }
    
    #sidebar{
        display: table-cell;
        vertical-align: top;
        padding-left: @grid_gutter;
        border-left: solid #CCC 1px;
        width: @grid_cols_3;

        #show-all{
            margin-bottom: @grid_gutter;
        }

        #tags{
            margin-bottom: @grid_gutter;
        }

        ul{
            padding-left: @grid_gutter;
            margin-top: @grid_gutter / 2;
        }

        li{
            margin-bottom: @grid_gutter / 2;
            line-height: 1.25;
            list-style: none;
        }
    }
}

