/* Blog-specific LESS CSS
*/

@gutter: 20px;

#blog-base {
    padding-top: @gutter * 2;
}

#blog-list {

    .blog-post {
        margin-bottom: @gutter * 2;

        .thumbnail {
            box-shadow: 3px 4px 6px 1px #AAA;
        }

        .summary {
            .title {
                a:hover {
                    text-decoration: none;
                }

                h3 {
                    margin-top: 0px;
                    padding-top: 0px;
                    line-height: 20px;
                }
            }

            .subtitle {
                font-size: 0.9em;
                margin-bottom: 5px;
            }
        }
    }
}
