/* LESS stylesheet for home
*/

#home {

    #hero {
        background: url('/img/death-valley-1170.jpg') center top no-repeat;
        height: 475px;

        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        .text {
            @media (min-width: 1200px) {
                margin-top: 240px;
            }

            margin-top: 216px;

            padding-left: 40px;
            padding-bottom: 10px;
            padding-top: 5px;
            padding-right:10px;

            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            color: lightgrey;
            background-color: black;
            opacity: 0.8;

            @media (min-width: 768px) and (max-width: 979px) {
                margin-top: 186px;
            }

            @media (max-width: 767px){
                border-radius: 0px;
                margin-top: 250px;
                margin-bottom: 40px;
            }

            h1, p {
                opacity: 100%;
                text-shadow: 2px 2px 2px black;
            }

            p {
                font-size: 16px;
                line-height: 1.5em;
            }
        }
    }

    #summary {
        margin-top: 40px;

        h2 {
            margin-top: 0px;
            -webkit-margin-before: 0px;
            line-height: 25px;
        }
    }
}
