/* Base CSS styles for robmd.net 
 *
 * This file was written in and complied by SASS
 * http://sass-lang.com
 * 
 * Color scheme based on main photo's average color: 
 * http://colorschemedesigner.com/#3D21T7tE0w0w0
 */

// default 940px grid (based on Twitter Bootstrap grid)
$grid_nr_cols:  12;
$grid_col:      60px;
$grid_gutter:   20px;
$site_width:    ($grid_nr_cols * $grid_col) + ($grid_gutter * ($grid_nr_cols - 1));

// grid span
$grid_cols_2: ($grid_col * 2) + $grid_gutter;
$grid_cols_3: $grid_cols_2 + $grid_gutter + $grid_col;
$grid_cols_4: $grid_cols_3 + $grid_gutter + $grid_col;

// colors
$lighter_grey:  #EFEFEF;
$light_grey:    #CCC;
$med_grey:      #888;
$dark_grey:     #4B4742;
$light_blue:    #97A9C0;
$dark_blue:     #31527D;

// borders
$dark_border:   solid 1px $med_grey;
$light_border:  solid 1px $light_grey;

// mixins
@mixin small-text{
    font-size: 0.8em;
}
@mixin indent($cols){
    float: left;
    position: relative;
    left: $cols * ($grid_col + $grid_gutter);
}

#body-wrap{
    width:  $site_width;
    margin: $grid_gutter auto;

    color: $dark_grey;
    font-size: 14px;
    font-family: "Veranda", lucida, tahoma, helvetica, arial, sans-serif;
    line-height: 1.4em;

    .indent0{
        @include indent(0);
    }
    .indent1{
        @include indent(1);
    }
    .indent2{
        @include indent(2);
    }
    .indent3{
        @include indent(3);
    }

    a{
        color: $dark_blue;
        text-decoration: none;

        &:hover{
            color: $light_blue;
        }
    }

    #header{
        $padding: 3px;
    
        display: table;
        width: 100%;

        font-family: "Orbitron", sans-serif;
        border-bottom: $dark_border;

        padding-bottom: $padding;
        margin-bottom: $grid_gutter;

        #title{
            display: table-cell;
            font-size: 2.5em;

            a{
                color: $dark_grey;
            }
        }

        #menu{
            display: table-cell;
            font-size: 1.2em;
            text-align: right;

            a{
                margin-left: $grid_gutter;
            }

            #selected{
                border-top: $dark_border;
                padding-top: $padding;
            }

        }
    }

    #content{
        margin: 0px 0px;

        h1, h2, h3{
            font-weight: normal;
            margin: 0px;
        }
        h1{ 
            font-size: 2em;
        }
        h2{ 
            font-size: 1.5em;
        }
        h3{ 
            font-size: 1em;
            font-weight: bold;
        }

        .caption{
            line-height: 0px;
            text-align: right;
            margin-top: $grid_gutter / 4;
            color: $med_grey;
            
            @include small-text;
        }
        
        // syntax highlighting
        .highlight{
            background: $lighter_grey;
            padding-left: $grid_gutter * 2;
            margin-top: $grid_gutter * 2;
            margin-bottom: $grid_gutter * 2;
        }
    }
    
    #footer{
        width: 100%;
        border-top: $dark_border;
        margin-top: $grid_gutter;
        border-spacing: 0px;
        padding-top: 3px;
        
        @include small-text;
        line-height: 1.5em;

        td{
            padding: 0px;
        }

        #right{
            text-align: right;
        }
    }
}

