{# Template for the about page #}

{% extends "base.html" %}

{% block style %}
    <style>
        #img-wrap{
            float:          left;
            margin-right:   20px;
            margin-bottom:  20px;
        }
    </style>
{% endblock %}

{% block js_doc_ready %}
    menu_highlight('about');
{% endblock %}

{% block content %}
    <div id='img-wrap'>
        <img src='/img/philo.jpg'/>
        <p class='caption'>
            Photo by
            <a href='http://www.facebook.com/profile.php?id=584737500'>
                Rick Fregoso
            </a>
        </p>
    </div>

    <h1>{{ page.title }}</h1>

    <div>
        {{ page.content }}
    </div>

{% endblock %}
