{# Template for the about page #}

{% extends "base.html" %}

{% block head %}
    <style>
        #img_wrap{
            float:          left;
            margin-right:   20px;
            margin-bottom:  20px;
        }
    </style>
{% endblock %}

{% block js_doc_ready %}
    menu_highlight('about');
{% endblock %}

{% block content %}
    <div id='img_wrap'>
        <img src='/img/PhiloAndI.jpg'/>
        <p class='caption'>
            Photo by 
            <a href='http://www.facebook.com/profile.php?id=584737500'>
                Rick Fregoso
            </a>
        </p>
    </div>

    <!-- page title -->
    <h1 id='page_title'>{{ page.title }}</h1>

    <!-- main content title -->
    <div id='home_content'>
        {{ page.content }}
    </div>

{% endblock %}
