{# Base template #}

<!DOCTYPE html>
<html lang="en">
    <!--
                                   _
                                ==(W{==========-      /===-
                                  ||  (.--.)         /===-_---~~~~~~~~~------____
                                  | \_,|**|,__      |===-~___                _,-' `
                     -==\\        `\ ' `--'   ),    `//~\\   ~~~~`---.___.-~~
                 ______-==|        /`\_. .__/\ \    | |  \\           _-~`
           __--~~~  ,-/-==\\      (   | .  |~~~~|   | |   `\        ,'
        _-~       /'    |  \\     )__/==0==-\<>/   / /      \      /
      .'        /       |   \\      /~\___/~~\/  /' /        \   /'
    /  ____  /         |    \`\.__/-~~   \  |_/'  /          \/'
    /-'~    ~~~~~---__  |     ~-/~         ( )   /'        _--~`
                      \_|      /        _) | ;  ),   __--~~
                        '~~--_/      _-~/- |/ \   '-~ \
                       {\__--_/}    / \\_>-|)<__\      \
                       /'   (_/  _-~  | |__>--<__|      |
                      |   _/) )-~     | |__>--<__|      |
                      / /~ ,_/       / /__>---<__/      |
                     o-o _//        /-~_>---<__-~      /
                     (^(~          /~_>---<__-      _-~
                    ,/|           /__>--<__/     _-~
                 ,//('(          |__>--<__|     /                  .----_
                ( ( '))          |__>--<__|    |                 /' _---_~\
             `-)) )) (           |__>--<__|    |               /'  /     ~\`\
            ,/,'//( (             \__>--<__\    \             /'  //        ||
          ,( ( ((, ))              ~-__>--<_~-_  ~--____---~' _/'/        /'
        `~/  )` ) ,/|                 ~-_~>--<_/-__       __-~ _/
      ._-~//( )/ )) `                    ~~-'_/_/ /~~~~~~~__--~
       ;'( ')/ ,)(                              ~~~~~~~~~~
     ' ') '( (/
        '   '  `

    Handcrafted by
       ___         __
      / _ \ ___   / /
     / , _// _ \ / _ \
    /_/|_| \___//_.__/
       __  ___      _____       _                 ___         __
      /  |/  /____ / ___/__ __ (_)____ ___  ____ / _ \ ___ _ / /___
     / /|_/ // __// (_ // // // // __// -_)/___// // // _ `// // -_)
    /_/  /_/ \__/ \___/ \_,_//_//_/   \__/     /____/ \_,_//_/ \__/

         Providing a tiny dent in the fabric of spacetime since 1986
    -->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page.title }} &raquo; {{ site.title }}</title>

        <!-- CSS -->
        <link id='titlebar-font' rel='stylesheet' type='text/css'>
        <link href="/css/prettify-r187.min.css" type="text/css"
                rel="stylesheet" />

        <link href='/css/bootstrap-2.1.1.min.css' type='text/css'
                rel="stylesheet" />
        <link href='/css/bootstrap-responsive-2.1.1.min.css' type='text/css'
                rel="stylesheet"/>
        <link href='/less/base.css' type='text/css' rel="stylesheet"/>

        {# Style block for templates to include their own styles #}
        {% block style %}{% endblock %}

        {# Head slot for templates that include this base template #}
        {% block head %}{% endblock %}
    </head>

    <body>
        <!-- Navbar -->
        <div id='navbar' class='navbar navbar-fixed-top'>
            <div class="navbar-inner">
                <div class="container">

                    <a class='brand' href='/'>
                        <div class='hidden-phone'>Rob McGuire-Dale</div>
                        <div id='short-name' class='visible-phone'>
                            Rob M.D.
                        </div>
                    </a>

                    <div id='nav-links'>
                        <ul class='nav pull-right'>
                            <li>
                                <a id='home' href='/'>
                                    home
                                </a>
                            </li>
                            <li>
                                <a id='blog' href='/blog/'>
                                    blog
                                </a>
                            </li>
                            <li>
                                <a id='resume' href='/resume/'>
                                    r&eacute;sum&eacute;
                                </a>
                            </li>
                            <li>
                                <a id='contact' href='/contact/'>
                                    contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div id='content' class='container'>
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer>
            <div class='container muted'>
                <p class='pull-right hidden-phone'>
                    <a href='#'>Back to top</a>
                </p>
                <div class='visible-phone'>
                    <p>
                        <a href='#' class='btn'>Back to top</a>
                    </p>
                    <br>
                </div>
                <p>
                    Last generated at
                    {{ site.datetime.strftime('%Y/%m/%d %H:%M:%S') }} by
                    <a href="https://github.com/mythmon/wok">Wok</a>.
                </p>
                <p>
                    Site source code availible on
                    <a href="http://github.com/robatron/robmd.net">GitHub</a>.
                </p>
                <p>
                    &copy; Copyright
                    <a href="http://robmd.net/">Rob McGuire-Dale</a>.
                </p>
            </div>
        </footer>

        <!-- JavaScript -->
        <script src="https://www.google.com/jsapi"></script>
        <script src="/js/lib/prettify-r187.min.js"></script>
        <script src="/js/lib/prettify-lang-hs-r187.min.js"></script>
        <script src='/js/lib/less-1.3.0.min.js'></script>
        <script src="/js/lib/jquery-1.8.2.min.js"></script>
        <script src='/js/lib/bootstrap-2.1.1.min.js'></script>
        <script>
            // Settings
            // ========
            var TITLEBAR_FONT_URL =
                'http://fonts.googleapis.com/css?family=Open+Sans:400,600|Orbitron'


            function highlight_syntax(){
                /* Highlight syntax with Google Prettify, and excape any HTML
                classed with 'lang-html'
                */

                // Escape HTML in code tagged as HTML
                $('.lang-html').text($('.lang-html').html())

                // Execute prettyprint
                prettyPrint()
            }

            function menu_highlight(menu_id){
                /* Highlight specified menu item
                */
                $('#navbar .nav li a#'+menu_id).parent('li')
                        .attr('class', 'active')
            }

            function track(){
                /* Google Analytics tracking code. Official docs recommend
                placing at the bottom of </head>, but practice calls for
                placing the JS at the bottom of the body to speed up appearance
                of page load for users.
                */
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-17987944-2']);
                _gaq.push(['_setDomainName', 'robmd.net']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ?
                            'https://ssl' :
                            'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();
            }

            // Init
            // ====
            function init(){
                /* Initialize the JavaScript for RobMD.net
                */
                var local = window.location.hostname === 'localhost'
                if(!local){
                    track()
                    $('titlebar-font').attr('href', TITLEBAR_FONT_URL)
                }
            }

            // "Main"
            // ======
            init()

            // Subpage init --
            {% block js_init %}{% endblock %}
            // -- end subpage init

            $(document).ready(function(){
                /* Run when the document is ready
                */
                highlight_syntax()

                // Subpage doc ready --
                {% block js_doc_ready %}{% endblock %}
                // -- end subpage doc ready
            });
        </script>
    </body>
</html>
