{# Base blog template #}

{% extends "base.html" %}

{# Blog entry macro #}
{# For more info, visit #}
{# http://jinja.pocoo.org/docs/templates/#macros #}
{% macro blog_entry(title, url, author, date, tags, content) -%}
    <a href='{{ url }}'>
        <h1 class='title'>
            {{ title }}
        </h1>
    </a>

    <div class='subtitle'>
        {# By {{ author }}| #}
        {{ date }}

        {% if tags %}
            | in
            {% for tag in tags %}
                {% if loop.lenght == 1 %}
                    {{ tag }}
                {% elif not loop.last %}
                    {{ tag }},
                {% else %}
                    and {{ tag }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class='content'>
        {{ content }}
    </div>
{%- endmacro %}

{% block head %}
    <link rel='stylesheet' type='text/css' href='/css/blog.css'/>
{% endblock %}

{% block js_doc_ready %}
    menu_highlight('blog');
{% endblock %}

{% block content %}
    <div id="blog-wrap">
        <div id="blog-content">
            {% block blog_content %}{% endblock %}
        </div>

        <!-- To be implemented later
        <div id='blog-menu'>
            <div class='title'>
                View
            </div>
            <ul class='options'>
                <li>Full</li>
                <li>Collapsed</li>
            </ul>
            <div class='title'>
                Tags
            </div>
            <ul class='options'>
                {% for tag in site.tags %}
                    <li>
                        <a href='#'>
                            {{ tag }} ({{ site.tags[tag]|length }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        -->
    </div>
{% endblock %}
