{# Base blog template #}

{% extends "base.html" %}

{# Template macros #}
{# --------------- #}
{# Macros to help build the blog system. #}
{# For more info on jinja2 macros, visit #}
{# http://jinja.pocoo.org/docs/templates/#macros #}

{# Tag link macro #}
{# Build a link for a tag, link to its hashed name #}
{% macro tag_link(tag, label=None) -%}
    <a href='#{{ tag|replace(" ", "-") }}'>
        {% if label %}
            {{ label }}
        {% else %}
            {{ tag }}
        {% endif %}
    </a>
{%- endmacro %}

{# Blog entry macro #}
{# Build a blog entry in a standard way #}
{% macro blog_entry(title, url, author, datetime, tags, content, title_image=None) -%}
    <div class='title-bar'>
        <h1 class='title'>
            <a href='{{ url }}'>
                {{ title }}
            </a>
        </h1>

        <div class='subtitle'>
            {# By {{ author }}| #}
            {{ datetime }}

            {% if tags %}
                | in
                {% for tag in tags %}
                    {% if loop.lenght == 1 %}
                        {{ tag_link(tag) }}
                    {% elif not loop.last %}
                        {{ tag_link(tag) }},
                    {% else %}
                        and {{ tag_link(tag) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if title_image %}
        <div class='title-image'>
            <a href='{{ title_image }}'>
                <img src='{{ title_image }}'/>
            </a>
        </div>
    {% endif %}

    <div class='content'>
        {{ content }}
    </div>
{%- endmacro %}

{# Import blog-specific CSS styles #}
{% block head %}
    <link rel='stylesheet' type='text/css' href='/css/blog.css'/>
{% endblock %}

{# JavaScript to run after the document is loaded #}
{% block js_doc_ready %}
    // Highlight the 'blog' menu item
    menu_highlight('blog');

    // Correctly size title images, and link them to their full-sized
    // versions
    var IMG_WIDTH = 480;
    $(".title-image").each(function(index){
        // For each title image...

        var cur_img = $(this).find("a img");
        var cur_link = $(this).find("a");

        var src_split = cur_img.attr('src').split('/');

        var src_before_size_prop = 
            src_split.slice(0, src_split.length-2).join('/'); 
        var src_after_size_prop = 
            src_split.slice(src_split.length-1).join('/');

        var src_resized = src_before_size_prop + '/s' + IMG_WIDTH + '/' + 
            src_after_size_prop;

        var src_full = src_before_size_prop + '/' + src_after_size_prop;

        cur_img.attr('src', src_resized);
        cur_link.attr('href', src_full);
    });
{% endblock %}

{% block content %}
    <div id="blog-wrap">

        <!-- Blog content (e.g., list, post) -->
        <div id="blog-content">
            {% block blog_content %}{% endblock %}
        </div>

        <!-- Blog sidebar -->
        <div id='sidebar'>

            <!-- Blog tag list -->
            <div class='tags'>
                <div class='title'>
                    Tags
                </div>
                <ul>
                    {% for tag in site.tags|sort %}
                        <li>
                            {{ tag_link(tag, tag + "(" + site.tags[tag]|length|string() +")") }} 
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Recent blog post list -->
            <div class='recent-posts'>
                <div class='title'>
                    Recent posts
                </div>
                <ul>
                    {% for post in site.categories['blog']|sort(attribute='datetime', reverse=True) %}
                        <li>
                            <a href='{{ post.url }}'>
                                {{ post.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
