{# Template for the contact page #}

{% extends "base.html" %}

{% block js_doc_ready %}
    menu_highlight('blog');
{% endblock %}

{% block content %}

    <!-- page title -->
    <h1 id='page_title'>{{ page.title }}</h1>

    <!-- blog list -->
    {% if page.subpages %}
        <div id='blog_list'>
            {% for entry in page.subpages|sort(attribute='meta.datetime', reverse=True) %}
                <div class='blog_entry'>
                    <div class='title'>
                        <a href='{{ entry.meta.url }}'>
                            {{ entry.meta.title }}
                        </a>
                    </div>
                    <div class='subtitle'>
                        By {{ entry.meta.author }}, {{ entry.meta.datetime }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No blog entries to display. </p>
    {% endif %}

{% endblock %}
