{# Base blog template #}

{% extends "base.html" %}

{# Template macros #}
{# --------------- #}
{# Macros to help build the blog system. #}
{# For more info on jinja2 macros, visit #}
{# http://jinja.pocoo.org/docs/templates/#macros #}

{# Nospace macro #}
{# Replace spaces with dashes #}
{% macro nospace(s) -%}
    {{ s|replace(" ", "-") }}
{%- endmacro %}

{# Tag link macro #}
{# Build a link for a tag, link to its hashed name #}
{% macro tag_link(tag, label=None) -%}
    <span class='tag-link'>
        <a href='/blog/#{{ nospace(tag) }}' class='{{ nospace(tag) }}'>
            {% if label %}
                {{ label }}
            {% else %}
                {{ tag }}
            {% endif %}
        </a>
    </span>
{%- endmacro %}

{# Blog entry macro #}
{# Build a blog entry in a standard way #}
{% macro blog_entry(title, url, author, datetime, tags, content, title_img_full=None, title_img_resized=None) -%}
    <div class='{% for tag in tags %}{{ nospace(tag) }} {% endfor %}'>
        <div class='title-bar'>
            <h1 class='title'>
                <a href='{{ url }}'>
                    {{ title }}
                </a>
            </h1>

            <div class='subtitle'>
                {# By {{ author }}| #}
                {{ datetime }}

                {% if tags %}
                    | in
                    {% for tag in tags %}
                        {% if loop.lenght == 1 %}
                            {{ tag_link(tag) }}
                        {% elif not loop.last %}
                            {{ tag_link(tag) }},
                        {% else %}
                            and {{ tag_link(tag) }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if title_img_full %}
            <div class='title-image'>
                <a href='{{ title_img_full }}'>
                    <img src='{{ title_img_resized }}'/>
                </a>
            </div>
        {% endif %}

        <div class='content'>
            {{ content }}
        </div>
    </div>
{%- endmacro %}

{# Import blog-specific CSS styles #}
{% block head %}
    <link rel='stylesheet' type='text/css' href='/css/blog.css'/>
{% endblock %}

{# JavaScript #}
{# ---------- #}

{# JavaScript to run before document loads #}
{% block js_init %}
    // Tag filtering (pre-load)
    // ------------------------
    function filter_by_tag(tag){
        // Remove all blog posts that aren't tagged with `tag`, show
        // all that are

        $(".blog-item").each(function(index){
            if( !$(this).find("." + tag).length ){
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }
{% endblock %}

{# JavaScript to run when document is ready #}
{% block js_doc_ready %}
    // Highlight the 'blog' menu item
    menu_highlight('blog');

    // Tag filtering (post-load)
    // -------------------------

    $(".tag-link").click(function(){
        // Set up tag click handling

        filter_by_tag($(this).find("a").attr('class'));
    });

    var filter_on_hash = function(){
        // If there is a hash in the URL, filter immediately

        if( window.location.hash ){
            filter_by_tag(  window.location.hash.slice(1) );
        }
    }(); 
{% endblock %}

{% block content %}
    <div id="blog-wrap">

        <!-- Blog content (e.g., list, post) -->
        <div id="blog-content">
            {% block blog_content %}{% endblock %}
        </div>

        <!-- Blog sidebar -->
        <div id='sidebar'>

            <!-- Blog tag list -->
            <div class='tags'>
                <div class='title'>
                    Tags <a href='.'>(all)</a>
                </div>
                <ul>
                    {% for tag in site.tags|sort %}
                        <li>
                            {{ tag_link(tag, tag + " (" + site.tags[tag]|length|string() +")") }} 
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Recent blog post list -->
            <div class='recent-posts'>
                <div class='title'>
                    Recent posts <a href='.'>(all)</a>
                </div>
                <ul>
                    {% for post in site.categories['blog']|sort(attribute='datetime', reverse=True) %}
                        <li>
                            <a href='{{ post.url }}'>
                                {{ post.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
