{# Single blog entry template #}

{% extends "blog-base.html" %}

{% block blog_content %}

    <div class='blog-item'>
        <div class='{% for tag in page.tags %}{{ nospace(tag) }} {% endfor %}'>
            <div class='title-bar'>
                <h1 class='title'>
                    <a href='{{ page.url }}'>
                        {{ page.title }}
                    </a>
                </h1>

                <div class='subtitle'>
                    {# By {{ page.author }}| #}
                    {{ page.datetime }}

                    {% if page.tags %}
                        | in
                        {% for tag in page.tags %}
                            {% if loop.length == 1 %}
                                {{ tag_link(tag) }}
                            {% elif not loop.last %}
                                {{ tag_link(tag) }},
                            {% else %}
                                and {{ tag_link(tag) }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% if page.title_img_full %}
                <div class='title-image'>
                    <a href='{{ page.title_img_full }}'>
                        <img src='{{ page.title_img_title }}'/>
                    </a>
                </div>
            {% endif %}

            <div class='content'>
                {{ page.content }}
            </div>
        </div>
    </div>

    <!-- Disquis comment system -->
    <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'robmd';
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://'+disqus_shortname+'.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] ||
                        document.getElementsByTagName('body')[0])
                                .appendChild(dsq);
            })();
        </script>

        <noscript>
            Please enable JavaScript to view the 
            <a href="http://disqus.com/?ref_noscript">
                comments powered by Disqus.<
            </a>
        </noscript>

{% endblock %}
