{# Template for the blog index #}

{% extends "base.html" %}

{% block content %}
    <h2>{{ page.title }}</h2>

    {% for entry in page.subpages %}
        <div class='blog_entry'>
            <h3>
                <a href='blog/{{ entry.slug }}.html'> 
                    {{ entry.title }}
                </a>
            </h3>
            <h4>{{ entry.datetime }}</h4>
            <div class='content'>
                {{ entry.content[:10] }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
