{# Blog list template #}

{% extends "blog.html" %}

{% block content %}

    <!-- blog list -->
    {% if page.subpages %}
        <div id='blog-list'>
            {% for entry in page.subpages|sort(attribute='meta.datetime', reverse=True) %}
                <div class='blog-item'>
                    <a href='{{ entry.meta.url }}'>
                        <h1 class='title'>
                            {{ entry.meta.title }}
                        </h1>
                    </a>
                    <div class='subtitle'>
                        By {{ entry.meta.author }}| {{ entry.meta.datetime }}
                    </div>
                    <div class='content'>
                        {{ entry.meta.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No blog entries to display. </p>
    {% endif %}

{% endblock %}
