{# Template for the blog index #}
{% extends "base.html" %}

{% set MAX_CONTENT_LEN = 250 %}

{% block content %}
    <h2>{{ page.title }}</h2>
    {% for entry in page.subpages %}
    
        {% set MORE_STR = "... <a href='blog/"+entry.slug+".html'>[more]</a>"%}

        <div class='blog_entry blog_bottom_underline'>

            <a href='blog/{{ entry.slug }}.html'>
                <h3>{{ entry.title }}</h3>
            </a>

            <div>
                By <a href='http://robmd.net'>Rob McGuire-Dale</a> on
                {{ entry.datetime }}
            </div>

            <div>
                {% if entry.content|length > MAX_CONTENT_LEN %}
                    {{entry.content[:MAX_CONTENT_LEN-MORE_STR|length]}}{{MORE_STR}}
                {% else %}
                    {{entry.content}}
                {% endif %}
            </div>
        </div>

    {% endfor %}
{% endblock %}
