{# Blog list template #}

{% extends "blog-base.html" %}

{% block blog_content %}
<div id='blog-list'>
    {% if page.subpages %}
        {% for page in page.subpages|sort(attribute='datetime', reverse=True) %}

            <div class='blog-post row'
                    tags='{% for tag in page.tags %}{{nospace(tag)}} {% endfor %}'>

                <div class='summary {% if page.title_img_thumb %}span6{% else %}span9{% endif %}'>
                    <div class='title'>
                        <a href='{{page.url}}'>
                            <h3>{{page.title}}</h3>
                        </a>
                    </div>

                    <div class='subtitle muted'>
                        {{page.date}}

                        {% if page.tags %}
                            | in {{ tag_list(page.tags) }}
                        {% endif %}
                    </div>

                    {% if page.snippet %}
                        {{ page.snippet|truncate(length=200) }}
                        <a href='{{page.url}}'>
                            more &raquo;
                        </a>
                    {% endif %}
                </div>

                {% if page.title_img_thumb %}
                    <div class='span3 hidden-phone'>
                            <div class='blog-thumb img-polaroid'>
                                <a href='{{page.url}}'>
                                    <!-- img src="http://placehold.it/300x200"
                                    -->
                                    <img src='{{page.title_img_thumb}}'
                                            title='Thumbnail for "{{page.title}}"'>
                                </a>
                            </div>
                    </div>
                {% endif %}

            </div>
        {% endfor %}

    {% else %}
        <p> No blog entries to display :-(</p>
    {% endif %}

</div>
{% endblock %}
