{# Template for the contact page #}

{% extends "base.html" %}

{% block js_doc_ready %}
    menu_highlight('contact');
{% endblock %}

{% block style %}
    <link href='/less/contact.less' type='text/css' rel="stylesheet/less"/>
{% endblock %}

{% block content %}
<div id='contact'>

    <div class='row'>
        <div class='span12'>
            <img src='/img/grand-canyon-1170.jpg'
                    title='South Rim at Sunset, Grand Canyon National Park, AZ'>
        </div>
    </div>

    <div class='row'>
        <p class='photo-cap muted pull-right'>
            Photo by
            <a href='https://picasaweb.google.com/alex.weeks'>
                Alex Weeks
            </a>
        </p>
    </div>

    <div class='row'>
        <div class='span4'>
            <h1>{{ page.title }}</h1>
        </div>

        <div class='span4'>
                <p>
                    <a href='https://plus.google.com/u/0/109797083968948280207/'>
                        Google+
                    </a>
                </p>
                <p>
                    <a href='http://facebook.com/robmd'>
                        Facebook
                    </a>
                </p>
                <p>
                    <a href='http://twitter.com/robatron'>
                        Twitter
                    </a>
                </p>
        </div>

        <div class='span4'>
                <p>
                    <a href='http://github.com/robatron'>
                        GitHub
                    </a>
                </p>
                <p>
                    <a href='http://www.linkedin.com/pub/rob-mcguire-dale/58/69b/8b8'>
                        LinkedIn
                    </a>
                </p>
                <p>
                    <a href='http://www.google.com/recaptcha/mailhide/d?k=018-TtgvnUHlo0F2ELgmo_HQ==&c=Arl6VP2X9B6mUtYlkipefebrCjMJw5D-8GkDH93uOhw='>
                        Email
                    </a>
                </p>
        </div>
    </div>
</div>
{% endblock %}
