{# Template for the home page #}

{% extends "base.html" %}

{% block js_doc_ready %}
    menu_highlight('home');
{% endblock %}

{% block style %}
    <link href='/less/home.less' type='text/css' rel="stylesheet/less"/>
{% endblock %}

{% block content %}
<div id='home'>

    <div id='hero'>
        <div class='row'>
            <div class='text pull-right'>
                <h1>{{ page.title }}</h1>
                <p>
                    My name is Rob McGuire-Dale, I currently work as a
                    <strong>web developer</strong> and
                    <strong>Linux system administrator</strong> for
                    <a href='http://boeing.com'>Boeing</a> Web
                    Technologies and Collaboration Services.
                </p>
                <p>
                    I am passionate about
                    <a href='http://en.wikipedia.org/wiki/Open-source_software'>open
                    source</a> software and community development, and the
                    technologies that run our <a href='/img/internet.jpg'>
                    Internet</a>.
                </p>
            </div>
        </div>
    </div>

    <div class='row hidden'>
        <p class='muted pull-right'>
            Photo by
            <a href='http://www.flickr.com/people/daisychaining/'
                    alt='Badwater Salt Flats, Death Valley, CA. Photo by
                         Elizabeth Trautman, May 2011'>
                Elizabeth Trautman
            </a>
        </p>
    </div>

    <div id='summary' class='row'>
        <div class='span2'>
            <h2>Skills</h2>
        </div>
        <div class='span4'>
            <p>
                I love <strong>Linux</strong>, and my favorite
                languages are <strong>JavaScript</strong> and
                <strong>Python</strong>. I also enjoy working with Git, jQuery,
                Backbone.js, Bottle, Django, Bootstrap, HTML5, and CSS3.
            </p>
            <p>
                <a href='{{page.url}}'>
                    More &raquo;
                </a>
            </p>
        </div>

        <div class='span2'>
            <h2>Past gigs</h2>
        </div>
        <div class='span4'>
            <ul>
                <li>
                    <strong>Software developer</strong> for the
                    <a href='http://osuosl.org'>Open Source Lab</a>
                </li>
                <li>
                    <strong>White-hat hacker</strong> (a.k.a pentester) for
                    Boeing Information Security
                </li>
                <li>
                    <strong>Film editor</strong> and
                    <strong>animation instructor</strong> at the
                    <a href='http://www.nwfilm.org/'>NW Film Center</a>
                    of the
                    <a href='http://www.pam.org/'>Portland Art Museum</a>
                </li>
            </ul>
            <p>
                <a href='{{page.url}}'>
                    More &raquo;
                </a>
            </p>
        </div>
    </div>

    {# page.content #}

</div>
{% endblock %}
