{# Template for the home page #}

{% extends "base.html" %}

{% block js_doc_ready %}
    menu_highlight('home');
{% endblock %}

{% block style %}
    <link href='/less/home.less' type='text/css' rel="stylesheet/less"/>
{% endblock %}

{% block content %}
<div id='home'>

    <div class='row'>
        <div class='span12'>
            <img src='/img/death-valley-1170.jpg'
                    alt='Badwater Salt Flats, Death Valley, CA. Photo by
                         Elizabeth Trautman, May 2011'>
        </div>
    </div>

    <div id='photo-cap' class='row'>
        <p class='muted pull-right'>
            <a href='http://en.wikipedia.org/wiki/Badwater_Basin'>
            Badwater Basin</a>, Death Valley. By
            <a href='http://www.flickr.com/people/daisychaining/'>
            Elizabeth Trautman</a>, May 2011
        </p>
    </div>

    <div id='welcome-text' class='row'>
        <div class='span4'>
            <h1>{{ page.title }}</h1>
        </div>
        <div class='span8'>
            <p>
                My name is Rob McGuire-Dale, I currently work as a
                <strong>web developer</strong> and
                <strong>Linux system administrator</strong> for
                <a href='http://boeing.com'>Boeing</a> Web
                Technologies and Collaboration Services.
            </p>
            <p>
                I am passionate about
                <a href='http://en.wikipedia.org/wiki/Open-source_software'>open
                source</a> software and community development, and the
                technologies that run our <a href='/img/internet.jpg'>
                Internet</a>.
            </p>
        </div>
    </div>

    <hr>

    <div class='row'>
        <div class='span4'>
            <h4>Skills</h4>
        </div>
        <div class='span8'>
            <p>
                I love <strong>Linux</strong>, and my favorite
                languages are <strong>JavaScript</strong> and
                <strong>Python</strong>. I also enjoy working with
                <a href='http://git-scm.com/'>Git</a>,
                <a href='http://jquery.com'>jQuery</a>,
                <a href='http://backbonejs.org'>Backbone.js</a>,
                <a href='http://bottlepy.org'>Bottle</a>,
                <a href='http://djangoproject.com'>Django</a>,
                <a href='http://twitter.github.com/bootstrap/'>Bootstrap</a>,
                and <a href='http://http://www.html5rocks.com/en/'>HTML5</a>.
            </p>
            <p>
                <a href='/docs/resume.pdf' class='pull-right'>
                    More &raquo;
                </a>
            </p>
        </div>
    </div>

    <hr>

    <div class='row'>
        <div class='span4'>
            <h4>Past gigs</h4>
        </div>
        <div class='span8'>
            <ul>
                <li>
                    <strong>Software developer</strong> for the
                    <a href='http://osuosl.org'>Open Source Lab</a>
                </li>
                <li>
                    <strong>White-hat hacker</strong> (a.k.a pentester) for
                    Boeing Information Security
                </li>
                <li>
                    <strong>Film editor</strong> and
                    <strong>animation instructor</strong> at the
                    <a href='http://www.nwfilm.org/'>NW Film Center</a>
                    of the
                    <a href='http://www.pam.org/'>Portland Art Museum</a>
                </li>
            </ul>
            <p>
                <a href='/docs/resume.pdf' class='pull-right'>
                    More &raquo;
                </a>
            </p>
        </div>
    </div>

    {# page.content #}

</div>
{% endblock %}
