{# Template for the home page #}

{% extends "base.html" %}

{% block js_doc_ready %}
    menu_highlight('home');
{% endblock %}

{% block content %}

    <div class='row-fluid'>
        <div class='span12'>
            <img src='/img/death-valley.jpg'/>

            <div class='hidden'>
                Photo by 
                <a href='http://www.flickr.com/people/daisychaining/'>
                    Elizabeth Trautman
                </a>
            </div>
        </div>
    </div>

    <div class='row-fluid'>
        <h1>{{ page.title }}</h1>
    </div>

    <div class='row-fluid'>

        <p>
            My name is Rob McGuire-Dale, and I am a graduate of 
            Oregon State University with a Bachelor's Degree in 
            Computer Science. I am currently working as a web 
            developer and Linux system administrator for Boeing Web 
            Collaboration Services.
        </p>

        <p>
            I prefer working with Linux, and my favorite languages are
            JavaScript and Python. I also have experience working with
            many other languages, libraries, frameworks, tools, and 
            technologies including jQuery, Backbone.js, Django, Git, 
            HTML5, AJAX, JSON, SQLite, Java, PHP, Drupal, and many 
            more.
        </p>

        <p>
            My past gigs include:

            <ul>
                <li>
                    Computer security assessor (pentester, white-hat 
                    hacker) for Boeing Information Security
                </li>
                <li>
                    Software developer for Boeing Manufacturing and 
                    Engineering
                </li>
                <li>
                    Software developer for the Open Source Lab
                </li>
                <li>
                    Film editor and animation instructor at the NW 
                    Film Center of the Portlant Art Museum
                </li>
            </ul>
        </p>

        <p>
            My primary interests include:

            <ul>
                <li>                    
                    Open source software and community development
                </li>
                <li>                    
                    Software development and engineering
                </li>
                <li>                    
                    Software and programming usability
                </li>
                <li>                    
                    The web as a computing platform
                </li>
            </ul>

        </p>

        <p>
            I also love running, rock climbing, mountaineering,
            tinkering with vehicles, and riding my bicycle. Most 
            imporantly, I have an immense interest and curiosity about
            the world, which drives me to learn.
        </p>  

    </div>

{% endblock %}
