{% extends "base.html" %}

{% block style %}
    <link href='/less/resume.less' type='text/css' rel="stylesheet/less"/>
{% endblock %}

{% block content %}
<div id='resume'>

    <div class='row'>
        <div class='span12'>
            <h1>R&eacute;sum&eacute;</h1>
            <p>
                <em>"Doing good with open source"</em>
            </p>
            <hr>
        </div>
    </div>

    <div class='row'>
        <div class='span3'>
            <h2>Skills</h2>
        </div>
        <div class='span9'>
            <ul>
                <li>
                    <strong>JavaScript</strong>, jQuery, Backbone.js, JSON,
                    JSONP
                </li>
                <li><strong>Python</strong>, Django, Bottle, CherryPy</li>
                <li><strong>HTML 5</strong>, CSS 3, Bootstrap, LESS</li>
            </li>
        </div>
    </div>

    <div class='row'>
        <div class='span3'>
            <h2>Experience</h2>
        </div>
        <div class='span9'>
            <div class='row'>
                <div class='span3'>
                    <h3>The Boeing Company</h3>
                </div>
                <div class='span3'>
                    Software Developer
                </div>
                <div class='span3'>
                    June 2011 - Present
                </div>
            </div>
            <div class='row'>
                <div class='span9'>
                    <div class='row'>
                        <div class='span9'>
                            <h4>GitLab Exploration Project</h4>
                                <div class='row muted'>
                                <div class='span5'>
                                    Project Lead / Linux System Admin / Developer
                                </div>
                                <div class='span4'>
                                    May 2012 - current
                                </div>
                            </div>
                        </div>
                        <div class='row span'>
                            <p>
                                Currently leading a team of 15 people to create and manage a
                                GitHub-like collaborative coding environment project using
                                Git and GitLab for a growing list of pilot users
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='span3'>
            <h2>Education</h2>
        </div>
        <div class='span9'>
            <h3>Oregon State University</h3>
            <p>B.S. in Computer Science, Sept. 2011</p>

            <h3>Mt. Hood Community College</h3>
            <p>A.S. in Computer Science, Sept. 2008</p>
            <p>A.S. in Mathematics, Sept. 2008</p>
        </div>
    </div>
</div>
{% endblock %}
