{% extends "base.html" %}

{% block style %}
    <link href='/less/resume.less' type='text/css' rel="stylesheet/less"/>
{% endblock %}

{% block content %}
<div id='resume'>

    <div class='row'>
        <div class='span12'>
            <h1>R&eacute;sum&eacute;</h1>
            <p>
                Also availible in <a href='#'>PDF</a>, and <a href='#'>JSON</a>
                formats.
            </p>
            <hr>
        </div>
    </div>

    <div class='row'>
        <div class='span3'>
            <h2>Skills</h2>
        </div>
        <div class='span9'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla libero mi, cursus in eleifend vitae, imperdiet ac eros. Integer dictum tincidunt dictum. Sed tristique dictum turpis sit amet eleifend. Aliquam erat volutpat. Ut auctor euismod elit quis elementum. Aliquam commodo congue nisi, in hendrerit lacus tincidunt non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed turpis magna, fringilla bibendum hendrerit quis, commodo facilisis orci. Nullam ac nunc purus, ac tincidunt magna. Sed laoreet tellus et arcu congue sed iaculis dolor dignissim. Duis pellentesque tincidunt venenatis. Etiam rutrum aliquam velit eu condimentum. Quisque tristique adipiscing turpis, quis posuere lacus tempus in. Nullam volutpat, velit ut tincidunt placerat, erat metus lobortis tortor, non vulputate mauris enim in lorem.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='span3'>
            <h2>Experience</h2>
        </div>
        <div class='span9'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla libero mi, cursus in eleifend vitae, imperdiet ac eros. Integer dictum tincidunt dictum. Sed tristique dictum turpis sit amet eleifend. Aliquam erat volutpat. Ut auctor euismod elit quis elementum. Aliquam commodo congue nisi, in hendrerit lacus tincidunt non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed turpis magna, fringilla bibendum hendrerit quis, commodo facilisis orci. Nullam ac nunc purus, ac tincidunt magna. Sed laoreet tellus et arcu congue sed iaculis dolor dignissim. Duis pellentesque tincidunt venenatis. Etiam rutrum aliquam velit eu condimentum. Quisque tristique adipiscing turpis, quis posuere lacus tempus in. Nullam volutpat, velit ut tincidunt placerat, erat metus lobortis tortor, non vulputate mauris enim in lorem.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='span3'>
            <h2>Education</h2>
        </div>
        <div class='span9'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla libero mi, cursus in eleifend vitae, imperdiet ac eros. Integer dictum tincidunt dictum. Sed tristique dictum turpis sit amet eleifend. Aliquam erat volutpat. Ut auctor euismod elit quis elementum. Aliquam commodo congue nisi, in hendrerit lacus tincidunt non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed turpis magna, fringilla bibendum hendrerit quis, commodo facilisis orci. Nullam ac nunc purus, ac tincidunt magna. Sed laoreet tellus et arcu congue sed iaculis dolor dignissim. Duis pellentesque tincidunt venenatis. Etiam rutrum aliquam velit eu condimentum. Quisque tristique adipiscing turpis, quis posuere lacus tempus in. Nullam volutpat, velit ut tincidunt placerat, erat metus lobortis tortor, non vulputate mauris enim in lorem.
            </p>
        </div>
    </div>
</div>
{% endblock %}
