{% extends "base.html" %}

{% block style %}
    <link href='/less/resume.less' type='text/css' rel="stylesheet/less"/>
{% endblock %}

{% block content %}
<div id='resume'>

    <div class='row'>
        <div class='offset3 span9'>
            <h1>R&eacute;sum&eacute;</h1>
            <p>
                <em>
                    Open source enthusiast, Web Developer, Humanitarian
                </em>
            </p>
            <hr>
        </div>
    </div>

    <div class='row'>
        <div class='offset3 span9'>
            <h2>Skills</h2>
            <h3>Technical</h3>
            <ul>
                <li>
                    <strong>JavaScript</strong>, jQuery, Backbone.js, JSON
                </li>
                <li><strong>Python</strong>, Django, Bottle, CherryPy</li>
                <li><strong>HTML 5</strong>, CSS 3, Bootstrap, LESS</li>
                <li><strong>Linux</strong>, <strong>Git</strong>, Bash, ViM
                <li>Java, PHP, Drupal</li>
            </ul>

            <h3>Social</h3>
            <ul>
                <li>
                    <strong>Leadership:</strong>
                    Lead for an enterprise-wide collaborative coding project
                </li>
                <li>
                    <strong>Coordination:</strong>
                    Event coordinator for OSU's Linux User Group
                </li>
                <li>
                    <strong>Adaptation:</strong>
                    Studied abroad in San Miguel de Allende, GTO, Mexico
                </li>
                <li>
                    <strong>Communication:</strong>
                    Several years of Internet technical support experience
                </li>
            </ul>
        </div>
    </div>

    <div class='row'>
        <div class='offset3 span9'>
            <h2>Experience</h2>

            <h3>The Boeing Company</h3>
            <p class='muted'>
                Developer, Linux Sysadmin, Project Manager | June 2010 - Current
            </p>

            <h4>GitLab Exploration Project</h4>
            <ul>
                <li>
                    Led a team of 15 people to create and manage a GitHub-like,
                    collaborative coding service for 100+ users.
                </li>
            </ul>

            <h4>Web Analytics Service</h4>
            <ul>
                <li>
                    Managed web analytics system for several enterprise-wide
                    web applications handling up to > 1.1 million hits/day
                </li>
            </ul>

            <h4>Application Security Analysis</h4>
            <ul>
                <li>
                    Analyzed web and thick-client applications for information
                    and computer security vulnerabilities
                </li>
            </ul>

            <h4>Mainframe Java API</h4>
            <ul>
                <li>
                    Designed and developed a Java programmable interface
                    library to an electrical-engineering mainframe application
                </li>
            </ul>


            <h4>Data Migration Bridge</h4>
            <ul>
                <li>
                    Designed and developed a multi-threaded Java application
                    interfacing two major manufacturing/production engineering
                    applications
                </li>
                <li>
                    Achieved a speedup of 6.5x over legacy system
                </li>
            </ul>
        </div>
    </div>

    <div class='row'>
        <div class='offset3 span9'>
            <h2>Education</h2>

            <h3>Oregon State University</h3>
            <p>B.S. in Computer Science, Sept. 2011</p>

            <h3>Mt. Hood Community College</h3>
            <p>A.S. in Computer Science, Sept. 2008</p>
            <p>A.S. in Mathematics, Sept. 2008</p>
        </div>
    </div>
</div>
{% endblock %}
